## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.nupkg

## Visual Studio
.vs/
*.csproj.user
*.dbmdl
*.jfm

## JetBrains Rider
.idea/
*.sln.iml

## Claude / AI tools
.claude/
.superpowers/

## OS
.DS_Store
Thumbs.db

## CUSTOM
temp/